.item1{
    position: relative;
    text-align: center;
    color: black;
}
.center{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    font-weight: 700;
    font-family: sans-serif;
}
.thin{
    font-size: x-large;
}
a{
    text-decoration: none;
    font-size: large;
}